<ion-view title="Inicio" class="backgroundGradiente">

        <ion-nav-buttons side="right">
            <button class="button button-clear icon ion-log-out" ng-click="signOut()"></button>
        </ion-nav-buttons>

        <ion-content class="padding">
            <div class="item item-image logo" style="border: 0px; margin-top: 15px; margin-bottom: 15px;">
                <img src="img\Logotipo.png" 
                alt="pet" style="width:40%;height:40%;">
            </div>
            <div class="button-bar" style="border: 0px;">
                <a class="button button-positive item-icon-left" ng-click="telaPets()">Pets
                <i class="icon ion-ios-paw"></i>
                </a>
                <a class="button button-balanced item-icon-right" ng-click="telaMapa()">Mapa
                <i class="icon ion-ios-location"></i>
                </a>
            </div>
            <div class="button-bar" style="border: 0px; margin-top: 10px;">
                <a class="button button-balanced item-icon-left" ng-click="telaLoja()">Loja
                <i class="icon ion-ios-pricetags-outline"></i>
                </a>
                <a class="button button-positive item-icon-right" ng-click="telaSaude()">Saúde
                <i class="icon ion-ios-medkit-outline"></i>
                </a>
            </div>
            
        </ion-content>
    </ion-view>