.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.backgroundGradiente {
  height: 100%;
  width: 100%;
  background: -webkit-radial-gradient(white, #76D1C6); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, #76D1C6); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, #76D1C6); /* For Fx 3.6 to 15 */
  background: radial-gradient(white, #76D1C6); /* Standard syntax (must be last) */
}

.background{
  height: 100%;
  width: 100%;
  /* background: #f4f4f4; */
  background: #c1daff;
}

.logo{
  background-color: transparent;
  border: 0px; 
  margin-top: 20px; 
  margin-bottom: 10px;
}

.ion-slides{
  height: 100vh !important;
}

.slides{
  height: 90vh !important;
}

.imglist {
  width: 180px !important; 
  height: 180px !important;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 5px;
}